

@media (max-width:1000px){
    .btn-mobile-nav{
        display: block;
    }
    .top-nav{
        display: none;
    }
    .cards{
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 42px;
    }
    .best_cards{
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 42px;
    }
}
@media (max-width:600px){
    .cards,.best_cards{
        grid-template-columns: 1fr 1fr;
    }
    .form{
        flex-direction: column;
        /* align-items: flex-start; */
    }
    .heading-primary{
        font-size: 24px;
    }
    .sub-heading{
        display: none;
    }
    .hero-container{
        padding: 20px;
        

    }
    input[type=text],.search_btn{
        width: 100%;
    }

}
@media (max-width:500px){
    .cards,.best_cards{
        grid-template-columns: 1fr;
    }
    .hero-container{
        top: 50%;
        left: 50%;
    }
}

/* Queries for sign up and sign in pages */
@media (max-width:900px){
    .form-container{
        width:100%;
    }
    .img-box{
        display: none;
    }
    .form{
        width: 60%;
    }
}
@media (max-width:600px){
    .form{
        width: 100%;
    }
}